* {
  box-sizing: border-box;
}

body {
  background-color: #dbf6e9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border-radius: 30px;
  box-shadow: 0 10px 25px -5px #000;
}
